.features{
    display: flex;

    @mixin atMedium {
        flex-direction: column;
        align-items: center;
    }

    &__left{
        padding: 10rem 0;
        width:35%;
        margin: auto;

        @mixin atMedium{
            padding: 0;
            width: 100%;
            margin-bottom: 4rem;
        }
    }
    &__right{
        padding: 5rem;
        width:65%;
        position: relative;

        @mixin atMedium{
            padding: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        @mixin atSmall{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-gap: 2rem;
            justify-items: center;
        }
    }

    &__box{
        background-color: #102131; 
        box-shadow: -1rem 1rem 1rem black;
        width: 18rem;
        height: 18rem;
        margin-bottom: 1rem;
        border-radius: 1rem;
        text-align: center;
        transform: rotate(-45deg);
        position: absolute;

        @mixin atMedium{
            position: static;
            display: inline-block;
            transform: rotate(0);
            width: 20vw;
            height: 20vw;
        }

        @mixin atSmall{
            width: 33vw;
            height: 33vw;
        }

        &-image{
            position: relative;
            width: 60%;
            transform: rotate(45deg) translate(10%, 10%);
            margin: 0 auto;
        }

        &-text{
            position: relative;
            top: -20px;
        }

        &--top{
            color: #986CC0;
            top: 6%;
            left: 42%;
            width: 12rem;
            height: 12rem;        

            @mixin atMedium{
                width: 20vw;
                height: 20vw;
            }

            @mixin atSmall{
                width: 33vw;
                height: 33vw;
            }
        }
        &--left{
            color: #D266A0;
            left: 14%;
            top: 28%;
        }
        &--right{
            color: #7172D7;
            left: 63%;
            top: 25%;
        }
        &--bottom{
            color: #46569F;
            width: 12rem;
            height: 12rem; 
            top: 62%;
            left: 45%;       

            @mixin atMedium{
                width: 20vw;
                height: 20vw;
            }

            @mixin atSmall{
                width: 33vw;
                height: 33vw;
            }
        }
    }
}