.footer{
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;

    @mixin atSmall{
        flex-wrap: wrap;
    }

    &__language{
        display: flex;
        align-items: flex-start;

        & img{
            margin-right: 1rem;
        }
    }

    li{
        list-style: none;
    }

    a{
        text-decoration: none;
        color: $mainColor;

        &::visited{
                color: $mainColor;
            }
    }

    &__contact{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @mixin atSmall{
            flex-direction: row;
            width: 100%;
        }

        &--address{
            display: flex;
            text-align: right;
            align-items: center;

            @mixin atSmall{
                text-align: left;

                & img{
                    display: none;
                }
            }

            & div:first-child{
                margin-right: 1rem;
            }
        }
        &--icons{
            text-align: right;
            
            @mixin atSmall{
                width: 30%;
            }

            & a:not(:last-child){
                margin-right: 1rem;
            }
        }
    }
}