.header{
    padding: 2rem 0;
    position: fixed;
    z-index: 10;
    width: 100%;
    transition: all 250ms ease-out;

    &--dark{
        background: linear-gradient(rgba(#102131,0.8), rgba(#7887A7, 0.8));
        padding: 1rem 0;
    }

    &__logo{
        display: inline-block;
    }

    &__nav{
        float: right;
        padding: 1rem 0;


        li{
            display: inline-block;
            list-style: none;
            font-size: 1.5rem;
        }

        a{
            text-decoration: none;
            padding-right: 1rem;
            color: $mainColor;

            .header--dark &{
                color: white;
            }

            &::visited{
                color: $mainColor;
            }

            &.current-link{
                color: $mainPink;
            }

        }
    }
}