.video{
    text-align: center;
    overflow: visible;

    & .bodytext{
        margin-bottom: 2rem;
        text-align: center;
    }

    &__container{
        position: relative;
        width:100%;
        margin-bottom: 3rem;

        &:hover .video__card{
            transform: translateX(30px);
        }

        &:hover .video__panel{
            transform: translateX(100px);
        }
    }

    &__main{
        @mixin atMedium{
            width: 100%;
            padding: 0 10%;
        }
    }

    &__card{
        position: absolute;
        top: 12%;
        left: 60%;
        transition: all .5s ease-in;

         @mixin atMedium{
            display: none;
        }
    }

    &__panel{
        position: absolute;
        top: 25%;
        left: 70%;
        transition: all .5s ease-in;

        @mixin atLarge{
            display: none;
        }
    }

    &__btn{
        margin-top: -10rem;
    }
}