.video{
    text-align: center;

    &__container{
        position: relative;
        margin-bottom: -4rem;
    }

    &__card{
        position: absolute;
        top: 12%;
        left: 60%;
    }

    &__panel{
        position: absolute;
        top: 25%;
        left: 70%;
    }

    &__btn{
        margin-top: -10rem;
    }
}